@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.page {
  width: 100vw;
  height: 100vh;
  background-color: #123524;
  font-family: "Outfit", serif;
  color: #E3F0AF;
}

.main {
  display: flex;
  height: 91.5vh;
  align-items: center;
  margin-inline: 4%;
  gap: 10%;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  justify-content: left;
}

.icons img {
  cursor: pointer;
}

.staticHalf,
.dynamicHalf {
  display: flex;
}

.staticHalf {
  width: 45%;
  gap: 3em;
  align-items: center;
}

.dynamicHalf {
  width: 55%;
  height: 60%;
  margin-block: 5%;
  overflow: scroll;
  flex-direction: column;
  overflow-x: hidden;
}

.sections ul {
  list-style-type: none;
}

.sections h2 {
  font-size: 3em;
  font-weight: 700;
  margin: 0;
}

.lastName,
.firstName {
  display: flex;
  align-items: baseline;
  color: #FBF6E9;
}

.lastName h3 {
  font-size: 2.2em;
  font-weight: 800;
}

.lastName {
  margin-bottom: 1em;
}

.underName {
  font-weight: 500;
  font-size: 1.3em;
  margin-bottom: 2em;
}

.sections li {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.sections li:hover {
  font-size: 1.3em;
  font-weight: 500;
  color: #FBF6E9;
}

.footer {
  height: 8.5vh;
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding-inline: 10%;
  align-items: center;
  border-top: 0.15em #E3F0AF solid;
  margin-inline: 5%;
  position: fixed;
}

.leftFooter {
  display: flex;
  align-items: center;
  gap: 1em;
}

.job {
  display: flex;
  gap: 1em;
  margin-block: 1em;
  align-items: center;
  height: 4em;
  padding-inline: 1em;
}

.job>img {
  border-radius: 0.5em;
}

.job:hover,
.project:hover,
.blog:hover {
  background-color: #FBF6E9;
  border-radius: 1em;
  color: #123524;
}

.companyName {
  font-weight: 700;
}

.companyDate {
  font-size: 0.85em;
  font-weight: 300;
  margin-top: 0.5em;
}

.experience,
.projects,
.blogs {
  margin-block: 1em;
  border-bottom: 2px #E3F0AF solid;
  padding-bottom: 1em;
}

.blogs {
  border-bottom: none;
}

.project {
  min-height: 3em;
  display: flex;
  flex-direction: column;
  margin-block: 1em;
  padding: 1em;
  justify-content: center;
}

.blog {
  height: 3em;
  margin-block: 1em;
  padding: 1em;
  padding-right: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog>p {
  font-weight: 500;
}

.projectTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projectBottom {
  display: none;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;

  padding-inline: 1em;
  padding-bottom: 1em;
  z-index: -1;
  width: 100%;
}

.opened {
  opacity: 1;
  display: initial;
}

.projectName {
  font-size: 1.3em;
  font-weight: 700;
}

.projectDetails {
  display: flex;
  align-items: center;
  gap: 1em;
}
